<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1920 – 2</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/riskprofile.css"/>
<script id="applicationScript" type="text/javascript" src="../static/riskprofile.js"></script>
</head>
<body>
<div id="Web_1920___2">
	<svg class="Rectangle_3">
		<rect fill="rgba(233,233,233,1)" id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="1729" height="787">
		</rect>
	</svg>
	<svg class="Rectangle_1">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="1920" height="109">
		</rect>
	</svg>
	<img id="Image_1" src="../static/Image_1.png" srcset="../static/Image_1.png 1x, ../static/Image_1@2x.png 2x">
	<div id="CovidView">
		<span>CovidView</span>
	</div>
	<svg class="Rectangle_2">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(62,162,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="10" ry="10" x="0" y="0" width="1729" height="69">
		</rect>
	</svg>
	<div id="Risk_Profile_Projection">
		<span>Risk Profile Projection</span>
	</div>
	<svg class="Rectangle_5">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="402" height="92">
		</rect>
	</svg>
	<svg class="Rectangle_4">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(62,162,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="10" ry="10" x="0" y="0" width="402" height="53">
		</rect>
	</svg>
	<div id="Enter_your_county">
		<span>Enter your county</span>
	</div>
	<div id="Dropdown_2">
		<svg class="Rectangle_613">
			<rect fill="rgba(241,249,255,1)" stroke="rgba(188,224,253,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_613" rx="10" ry="10" x="0" y="0" width="360" height="50">
			</rect>
		</svg>
		<div id="Minnesota">
			<span>Minnesota</span>
		</div>
		<div id="Symbol_156___1" class="Symbol_156___1">
			<svg class="Path_36" viewBox="2 2 9.4 6.1">
				<path fill="rgba(38,153,251,1)" id="Path_36" d="M 6.699999809265137 8.100000381469727 L 2 3.400000095367432 L 3.400000095367432 2 L 6.699999809265137 5.300000190734863 L 10 2 L 11.39999961853027 3.400000095367432 L 6.699999809265137 8.100000381469727 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Rectangle_614">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_614" rx="0" ry="0" x="0" y="0" width="402" height="92">
		</rect>
	</svg>
	<svg class="Rectangle_615">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(62,162,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_615" rx="10" ry="10" x="0" y="0" width="402" height="53">
		</rect>
	</svg>
	<div id="Enter_your_age">
		<span>Enter your age</span>
	</div>
	<div id="Input___Entered_Value">
		<svg class="Rectangle_176">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(127,196,253,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_176" rx="0" ry="0" x="0" y="0" width="100" height="50">
			</rect>
		</svg>
		<div id="ID68">
			<span>68</span>
		</div>
		<svg class="Rectangle_177">
			<rect fill="rgba(38,153,251,1)" id="Rectangle_177" rx="0" ry="0" x="0" y="0" width="1" height="22">
			</rect>
		</svg>
	</div>
	<svg class="Rectangle_691">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_691" rx="0" ry="0" x="0" y="0" width="402" height="274">
		</rect>
	</svg>
	<div id="Dropdown_1">
		<svg class="Rectangle_686">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_686" rx="0" ry="0" x="0" y="0" width="360" height="50">
			</rect>
		</svg>
		<svg class="Rectangle_689">
			<rect fill="rgba(38,153,251,1)" id="Rectangle_689" rx="0" ry="0" x="0" y="0" width="50" height="50">
			</rect>
		</svg>
		<div id="Respiratory_Problems">
			<span>Respiratory Problems</span>
		</div>
		<svg class="Path_36_" viewBox="2 2 9.4 6.1">
			<path fill="rgba(255,255,255,1)" id="Path_36_" d="M 6.699999809265137 8.100000381469727 L 2 3.400000095367432 L 3.400000095367432 2 L 6.699999809265137 5.300000190734863 L 10 2 L 11.39999961853027 3.400000095367432 L 6.699999809265137 8.100000381469727 Z">
			</path>
		</svg>
	</div>
	<div id="Dropdown_2_">
		<svg class="Rectangle_684">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_684" rx="0" ry="0" x="0" y="0" width="360" height="150">
			</rect>
		</svg>
		<svg class="Rectangle_690">
			<rect fill="rgba(241,249,255,1)" id="Rectangle_690" rx="0" ry="0" x="0" y="0" width="360" height="51">
			</rect>
		</svg>
		<div id="Pneumonia">
			<span>Pneumonia</span>
		</div>
		<div id="Asthma">
			<span>Asthma</span>
		</div>
		<div id="Immuno_compromised">
			<span>Immuno-compromised</span>
		</div>
		<div id="Symbol_148___1" class="Symbol_148___1">
			<svg class="Rectangle_460">
				<rect fill="transparent" id="Rectangle_460" rx="0" ry="0" x="0" y="0" width="16" height="16">
				</rect>
			</svg>
			<svg class="Checkbox" viewBox="0 0 16 11.034">
				<path fill="rgba(38,153,251,1)" id="Checkbox" d="M 6.344827651977539 11.03448295593262 L 0 4.689655303955078 L 1.28735625743866 3.402298927307129 L 6.344827651977539 8.367815971374512 L 14.71264362335205 0 L 16 1.28735625743866 L 6.344827651977539 11.03448295593262 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Rectangle_692">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(62,162,255,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_692" rx="10" ry="10" x="0" y="0" width="402" height="53">
		</rect>
	</svg>
	<div id="Pre_existing_conditions">
		<span>Pre-existing conditions</span>
	</div>
	<svg class="Rectangle_91">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(246,206,0,1)" stroke-width="6px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_91" rx="0" ry="0" x="0" y="0" width="280" height="305">
		</rect>
	</svg>
	<div id="ID25_May_2020">
		<span>25 May 2020</span>
	</div>
	<div id="button">
		<svg class="Rectangle_176_bm">
			<rect fill="rgba(247,198,0,1)" id="Rectangle_176_bm" rx="0" ry="0" x="0" y="0" width="280" height="70">
			</rect>
		</svg>
		<div id="Medium_Risk">
			<span>Medium Risk</span>
		</div>
	</div>
	<div id="Price">
		<div id="ID36_br">
			<span>36</span>
		</div>
		<div id="cases">
			<span>cases</span>
		</div>
		<div id="ID36_br">
			<span>36</span>
		</div>
	</div>
	<svg class="Rectangle_91_bs">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(242,159,104,1)" stroke-width="6px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_91_bs" rx="0" ry="0" x="0" y="0" width="280" height="305">
		</rect>
	</svg>
	<div id="button_bt">
		<svg class="Rectangle_176_bu">
			<rect fill="rgba(247,148,99,1)" id="Rectangle_176_bu" rx="0" ry="0" x="0" y="0" width="280" height="70">
			</rect>
		</svg>
		<div id="Medium___High_Risk">
			<span>Medium - High Risk</span>
		</div>
	</div>
	<div id="ID26_May_2020">
		<span>26 May 2020</span>
	</div>
	<svg class="Rectangle_91_bx">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(197,58,0,1)" stroke-width="6px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_91_bx" rx="0" ry="0" x="0" y="0" width="280" height="305">
		</rect>
	</svg>
	<div id="button_by">
		<svg class="Rectangle_176_bz">
			<rect fill="rgba(198,49,0,1)" id="Rectangle_176_bz" rx="0" ry="0" x="0" y="0" width="280" height="70">
			</rect>
		</svg>
		<div id="High_Risk">
			<span>High Risk</span>
		</div>
	</div>
	<div id="ID27_May_2020">
		<span>27 May 2020</span>
	</div>
	<div id="Price_b">
		<div id="ID82">
			<span>82</span>
		</div>
		<div id="cases_b">
			<span>cases</span>
		</div>
	</div>
	<div id="Price_ca">
		<div id="ID47">
			<span>47</span>
		</div>
		<div id="cases_ca">
			<span>cases</span>
		</div>
	</div>
</div>
</body>
</html>